body{
    background-color: chocolate;
    color: aquamarine;
}
a:link{
    text-decoration: none;
    color: yellowgreen;
    
}
a:visited{
    color: blueviolet;
}
a:hover{
    color: darkred;
}